@font-face {
    font-family: 'mplus';
    src: url('/fonts/MPLUS1p-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bg_red{
    background: linear-gradient(135deg, #ffffffe6,#f3b4ab);
    margin: 0;
    padding: 50px 50px 20px 50px;
}

html,body {
    font-family: 'mplus', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffffaa;
}
#header_top{
    display: flex;
}
#header_top img{
    height: 40px;
    margin: 5px 10px;
}
#header_top h1{
    margin: auto 0;
    font-size: 24px;
}

header ul{
    display: flex;
    list-style: none;
    margin: 5px;
}
header a{
    text-decoration: none;
    color: #c7240b;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}
header a:hover{
    background-color: #ddddddaa;
}

footer{
    background-color: #c7240b;
    padding: 50px 0;
    color: #fff;
}
footer ul{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    padding: 0;
}
footer li a{
    color: #fff;
    text-decoration: none;
}
footer li a:hover{
    color: #ffffffaa;
}
footer button{
    border: none;
    background: none;
    color: #fff;
    text-decoration-line: underline;
}
footer p{
    text-align: center;
    margin: 0;
}
footer button:hover{
    color: #ffffffaa;
}
.footer_links img{
    width: 40px;
}
.footer_links{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
}

#footer_dlg{
    border: none;
    padding: 20px;
    height: fit-content;
    max-height: 90vh;
    width: fit-content;
    min-width: 300px;
    background-color: #ffffffcc;
}
#footer_dlg h3{
    margin: 0;
    text-align: center;
}
#footer_dlg #footer_contributors{
    overflow-y: scroll;
    scrollbar-width: thin;
}
.contributor_item{
    display: grid;
    align-items: center;
    grid-template-columns: 40px 1fr;
    width: 100%;
    color: #000;
    text-decoration: none;
    margin: 10px 0 0 0;
    position: relative;
    border-radius: 10px;
}
.contributor_item:hover::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  background: #ffffff33;
  pointer-events: none;
}
.contributor_img{
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border: #c7240b 2px solid;
}
#footer_dlg .footer_more{
    display: block;
    background-color: #c7240b;
    color: #fff;
    margin-top: 10px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}
#footer_dlg .footer_more:hover{
    background-color: #d45d4b;
}
#footer_dlg button{
    color: #000;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footer_dlg button:hover{
    color: #555;
}