  <footer>
    <div class="footer_links">
      <a class="footer_links" href="{{github_url}}">
        <img src="/images/github.svg" alt="github icon"/>
      </a>
      <a class="footer_links" href="{{discord_url}}">
        <img src="/images/discord.svg" alt="discord icon"/>
      </a>
    </div>
    <ul>
      <li><a href="/index.html">Top</a></li>
      <li><a href="/about/index.html">About</a></li>
      <li><a href="/news/index.html">News</a></li>
      <li><a href="/guide/index.html">Guide</a></li>
      <li><a href="/faq/index.html">F&Q</a></li>
    </ul>
    <p>
      Copyright &copy; 2025 <button id="show_contributors">Rust Developers JP Community</button> All Rights Reserved.
    </p>
    <dialog id="footer_dlg">
      <h3>貢献者</h3>
      <p><small>背景は貢献度です。</small></p>
      <div id="footer_contributors">
        {{contributors}}
      </div>
      <a class="footer_more" href="https://github.com/Rust-Developers-JP/official_site/graphs/contributors">詳しく</a>
      <button id="footer_close">閉じる</button>
    </dialog>
    <script>
      const dlg = document.getElementById("footer_dlg");

      document.getElementById("show_contributors").onclick = () => {
        dlg.showModal();
      };

      document.getElementById("footer_close").onclick = () => {
        dlg.close();
      };
    </script>
  </footer>